
    :root {
        --yellow-color: #fcee09; 
        --red-color: #ff003c;
        --black-color: #050a0e;
        --blue-color: #00f0ff;
      }
      
      .btn {
          text-decoration: none;
          width: 348px;
          margin-top: 19px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1;
        border-color: #050a0e;
        outline: none;
        background-color: var(--yellow-color);
        color: var(--black-color);
        cursor: pointer;
        padding: 30px 25px;
        position: relative;
        font-family: Tomorrow, sans-serif;
        font-size: .85rem;
        text-transform: uppercase;
       animation: btn-color 2s linear 0s infinite; 
      }

      @keyframes btn-color {
        0% {color: #050a0e; }
        10% {color: white;}
        20% {color: #050a0e;}/* 
        80% {color: white;}
        100% {color: #050a0e;} */
      }

      

      /* .btn::before {
        content: "";
        width: 24px;
        height: 1px;
        position: absolute;
        bottom: -14px;
        left: -13px;
        background-color: var(--yellow-color);
        border-top: 2px solid var(--black-color);
        transform: rotate(45deg);
      }
       */
      .btn::after {
        content: "";
        width: 24px;
        height: 24px;
        position: absolute;
        top: -14px;
        right: -13px;
        background-color: var(--yellow-color);
        border-bottom: 2px solid var(--black-color);
        transform: rotate(45deg);
      }


      .btn__content {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
        background-color: var(--yellow-color);
        clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
      }


      .btn__label {
        height: 10px;
        font-size: .40rem;
        position: absolute;
        bottom: -4px;
        right: 8%;
        padding: 0 5px;
        background-color: var(--yellow-color);
        z-index: 3;
      }

      .topic {
        
        font-family: Tomorrow, sans-serif;
        
        color: #050a0e;
        font-size: 60px;

        
       /*  padding: 200px 198px; */
        animation: anim-topic 2s linear 0s infinite
      }

      @keyframes anim-topic {
        0% {color: #00ff9f}
        20% {color: #bd00ff}
        30% {color: #050a0e}
      }



      .score {
        position: relative;
        animation: mymove 5s infinite;
      }

      @keyframes mymove {
        0%   {top: 0px;}
        25% {top: 0px;}
        45%  {top: 169px;}
        75%  {top: 50px}
        100% {top: 0px;}
      }


      .btn__glitch {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--yellow-color);
        filter: drop-shadow(-2px 3px #67e3f3) drop-shadow(-1px -3px #02d8f3) drop-shadow(2px 1px #02d8f3);
      }
      
      .btn--secondary .btn__glitch {
        background-color: var(--red-color);
      }
      
      .btn:hover .btn__glitch,
      .btn:hover .btn__content::after,
      .btn:focus .btn__glitch,
      .btn:focus .btn__content::after {
        display: block;
        animation: glitch-animation 2s linear 0s infinite;
      }

      @keyframes glitch-animation {
        0% {
          opacity: 1;
          transform: translateZ(0);
          clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
        }
      
        2% {
          clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
          transform: translate(-5px);
        }
      
        6% {
          clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
          transform: translate(5px);
        }
      
        8% {
          clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
          transform: translate(-5px);
        }
      
        9% {
          clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
          transform: translate(0);
        }
      
        10% {
          clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
          transform: translate3d(5px, 0, 0);
        }
      
        13% {
          clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
          transform: translateZ(0);
        }
      
        13.1% {
          clip-path: polygon(0 0, 0 0, 0 0, 0 0);
          transform: translate3d(5px, 0, 0);
        }
      
        15% {
          clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
          transform: translate3d(5px, 0, 0);
        }
      
        20% {
          clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
          transform: translate3d(-5px, 0, 0);
        }
      
        20.1% {
          clip-path: polygon(0 0, 0 0, 0 0, 0 0);
          transform: translate3d(5px, 0, 0);
        }
      
        25% {
          clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
          transform: translate3d(5px, 0, 0);
        }
      
        30% {
          clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
          transform: translate3d(-5px, 0, 0);
        }
      
        30.1% {
          clip-path: polygon(0 0, 0 0, 0 0, 0 0);
        }
      
        35% {
          clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
          transform: translate(-5px);
        }
      
        40% {
          clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
          transform: translate(5px);
        }
      
        45% {
          clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
          transform: translate(-5px);
        }
      
        50% {
          clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
          transform: translate(0);
        }
      
        55% {
          clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
          transform: translate3d(5px, 0, 0);
        }
      
        60% {
          clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
          transform: translateZ(0);
          opacity: 1;
        }
      
        60.1% {
          clip-path: polygon(0 0, 0 0, 0 0, 0 0);
          opacity: 1;
        }
      
        to {
          clip-path: polygon(0 0, 0 0, 0 0, 0 0);
          opacity: 1;
        }
      }

      @media only screen and (max-width: 601px) {
        .topic {
          display: block;
        justify-content: space-around;
          font-size: 48px;
          padding-top: 30%;
          padding-bottom: 60%
        }
        .btn {
          padding-bottom: 3px;
          width: 256px;
         padding-left: 10px;
         padding-right: 10px
        }
      }