
    :root {
        --yellow-color: #fcee09; 
        --red-color: #ff003c;
        --black-color: #050a0e;
        --blue-color: #00f0ff;
      }
      
      .topic {
          color: #050a0e;          
          font-family: Tomorrow, sans-serif;
      }
      
      .rig {

padding: 20px 25px;


      }

      .rig h1 {
        font-family: Tomorrow, sans-serif;
        color: #050a0e; /* 
        border-right: 1px solid #000;
border-left: 1px solid #000;     
border-top: 1px solid #000;
border-bottom: 1px solid #000;   */    

      }
      
      .btn {
          text-decoration: none;
          width: 548px;
          margin-top: 19px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1;
        border-color: #050a0e;
        outline: none;
        background-color: var(--yellow-color);
        color: var(--black-color);
        cursor: pointer;
        padding: 20px 25px;
        position: relative;
        font-family: Tomorrow, sans-serif;
        font-size: .85rem;
        text-transform: uppercase;
      }

      /* .btn::before {
        content: "";
        width: 24px;
        height: 1px;
        position: absolute;
        bottom: -14px;
        left: -13px;
        background-color: var(--yellow-color);
        border-top: 2px solid var(--black-color);
        transform: rotate(45deg);
      }
       */
      .btn::after {
        content: "";
        width: 24px;
        height: 24px;
        position: absolute;
        top: -14px;
        right: -13px;
        background-color: var(--yellow-color);
        border-bottom: 2px solid var(--black-color);
        transform: rotate(45deg);
      }


      .btn__content {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
        background-color: var(--yellow-color);
        clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
      }


      .btn__label {
        height: 10px;
        font-size: .40rem;
        position: absolute;
        bottom: -4px;
        right: 8%;
        padding: 0 5px;
        background-color: var(--yellow-color);
        z-index: 3;
      }

      .rigscores {
          
        font-family: Tomorrow, sans-serif;
        color: #050a0e;       
      }

      .form {
        font-family: Tomorrow, sans-serif;
        color: #050a0e;       
      }

      .form button {
          background-color: #ff003c;
          width: 100%
      }